body {
  text-align: center;
  background-image: url('https://us.123rf.com/450wm/ksym/ksym1606/ksym160600102/58923170-old-white-brick-wall-for-your-design-seamless-texture.jpg?ver=6');
  background-repeat: repeat-vertical;
  background-attachment: fixed;
}

@media (max-width: 767px) {
  body {
    background-attachment: initial !important;
  }
}